__pycache__

# terraform
terraform/.terraform
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup

# airflow
airflow/logs
#airflow/.env

# raw data
data/*

# temp file
temp.txt