__pycache__

# terraform
.terraform
terraform.tfstate
.terraform.lock.hcl
terraform.tfstate.backup
.terraform.tfstate.lock.info
# airflow
airflow/logs
#airflow/.env

# raw data
data/*
*.zip

# temp file
temp.txt

